body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#bus-form {
  margin: 0px;
  padding: 0px;
  height: 200px;
  background-color: #3184ee;
}

.fa-bus {
  margin-right: 10px;
}

.online-bus-heading {
  text-align: center;
  color: white;
  padding: 30px;
  font-size: 2.2em;
}

.bus-search-form {
  width: 890px;
  margin: 0 auto;
  position: relative;
}

.fa-exchange-alt {
  position: absolute;
  top: 20px;
  left: 221px;
}

.bus-search-form input {
  height: 60px;
  border: 0px;
  padding-left: 15px;
  border-right: 1px inset rgba(0, 0, 0, 0.315);
  float: left;
}

.bus-search-form input:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bus-search-form input {
  outline: none;
}

.search-bus-button {
  -webkit-border-top-right-radius: 6;
  -moz-border-top-right-radius: 6;
  -webkit-border-bottom-right-radius: 6;
  -moz-border-bottom-right-radius: 6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ef6614;
  padding: 10px 20px 10px 20px;
  float: left;
  text-decoration: none;
}

.search-bus-button:hover {
  background: #ef6414e1;
  color: #ffffff;
  text-decoration: none;
}

#grab-your-ticket-bus {
  margin-top: 100px;
}

.grab-your-ticket-bus-cards .card {
  /* box-shadow: 3px 3px 5px 6px #ccc; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.grab-your-ticket-bus-heading {
  text-align: center;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 40px;
}

.grab-your-ticket-bus-cards .card-title {
  text-align: center;
  font-weight: bold;
}

.grab-your-ticket-bus-cards .card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 3px 3px 5px 6px #ccc;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
}

#bus-qna {
  margin-top: 60px;
}

#bus-qna :hover {
  transform: none !important;
}

.bus-faq-heading {
  text-align: center;
  font-size: 2.1em;
  font-weight: bold;
  margin-bottom: 30px;
}

.bus-accordion i {
  float: right;
}

/* span {
  color: black;
  font-size: 1.4em;
} */

/* Hotel_System_CSS_Start */
.jumbotron {
  background-color: #3e95e7;
  border-color: #a3d8f4;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
}
.quote {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: cursive;
  color: #ffffff;
}
#hotel_search_flex {
  background-color: #ffffff;
  height: 100px;
  border-radius: 5px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
  align-items: center;
}

.search_block {
  border-right: double;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
}
#search_hotel {
  color: #ffffff;
  background-color: #ef6614;
  width: 250px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}
#msg_quote {
  text-align: center;
  font-family: "Potta One", cursive;
  font-size: 50px;
  color: #3e95e7;
}
#hotel_card {
  margin: 5px;
  background-color: #88c2f8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
#hotel_img {
  margin: auto;
  width: 100%;
  height: 200px;
  border-style: groove;
  border-radius: 10px;
}
#hotel_name {
  font-size: 40px;
  color: #ffffff;
  font-family: "Jomhuria", cursive;
  text-align: center;
}
#hotel_add {
  font-family: fantasy;
  font-size: 20px;
}
.fa-star {
  color: orange;
}
#detail_btn {
  width: 200px;
  margin: auto;
  font-family: cursive;
}
footer {
  color: #ffffff;
  background-color: rgb(12, 183, 250);
  padding: 10px;
  font-size: larger;
  font-weight: 700;
}
#social-link {
  color: black;
  font-size: 30px;
}
hr {
  border: 2px groove rgb(12, 183, 250);
}
.hr_footer {
  border: 2px groove #ffffff;
}
#offers {
  height: 300px;
}
#offers:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
}
#offer_name {
  font-size: larger;
  font-family: fantasy;
}
#offer_img {
  padding: 5px;
  width: 60%;
  height: 150px;
}
#offer_msg {
  font-size: medium;
  font-family: "Potta One", cursive;
  color: orange;
}
/* Hotel_system_CSS_end */

/* ****************************************************************************************************
__________________________________________________Index Page____________________________________________
**************************************************************************************************** */
.logo h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(#940370, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu {
  color: white;
}
.nav-menu:hover {
  transform: scale(1.04);
}
nav {
  background-color: #4f093e;
}
.indexdiv1 {
  height: 450px;
  background-image: url("https://5.imimg.com/data5/PI/RW/GLADMIN-55149533/domestic-air-travel-bookings-500x500.png");
  background-repeat: no-repeat;
}
.indexdiv1:hover {
  transform: scale(1.01);
}
.indexdiv1 h1 {
  color: blue;
}
.indexdiv1 h3 {
  color: #ca19d4;
}
.indexdiv1 h2 {
  color: #007ea1;
}
button:hover {
  transform: scale(1.08);
}
.indexdiv2 {
  height: 470px;
  background-image: url("../images/index_flight.jpg");
  background-repeat: no-repeat;
  background-position: 770px 0px;
  background-color: #13afba;
}
.indexdiv2:hover {
  transform: scale(1.01);
}
.indexdiv2 h1 {
  color: red;
}
.indexdiv2 h3 {
  color: #ffffff;
}
.padding-top {
  padding-top: 100px;
}
.indexdiv3 {
  height: 400px;
  background-image: url("../images/index_train.jpg");
  background-repeat: no-repeat;
  background-position: 100px 0px;
}
.indexdiv3:hover {
  transform: scale(1.01);
}
.indexdiv3 h1 {
  color: blue;
}
.indexdiv3 h3 {
  color: red;
}
.indexdiv4 {
  height: 470px;
  background-image: url("../images/index_bus.jpg");
  background-repeat: no-repeat;
  background-position: 550px 0px;
  background-color: #1f547a;
}
.indexdiv4:hover {
  transform: scale(1.01);
}
.indexdiv4 h1 {
  color: #ffffff;
}
.indexdiv4 h3 {
  color: #c3d900;
}
.indexdiv5 {
  height: 400px;
  background-image: url("../images/index_hotel.jpg");
  background-repeat: no-repeat;
  background-position: 100px 0px;
}
.indexdiv5:hover {
  transform: scale(1.01);
}
.indexdiv5 h1 {
  color: red;
}
.indexdiv5 h3 {
  color: blue;
}
footer {
  background-color: #400632;
  color: #ffffff !important;
}
.indexdiv6 {
  height: 170px;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-color: #4568a1;
  color: white;
}
.indexdiv7 {
  background-color: white;
  height: 270px;
  padding-top: 100px;
}
.serviceimg:hover {
  transform: scale(1.09);
}
/* ****************************************************************************************************
___________________________________Login Page / SignUp Page____________________________________________
**************************************************************************************************** */
.logindiv {
  height: 700px;
  background-image: url("https://youthmentors.shinefromwithin.com.au/wp-content/uploads/2016/10/login-page-background-image-3-2.png");
  background-repeat: no-repeat;
}
.login-card:hover {
  transform: scale(1.09);
}

.active-tab {
  font-weight: bold;
}

.loading-indicator {
  display: block;
  width: 130px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40%;
  z-index: 100;
  background-color: #fff;
}

.loading-indicator img {
  width: 130px;
  background-color: #fff;
}
/* ****************************************************************************************************
___________________________________Train Search Result Page____________________________________________
**************************************************************************************************** */
.train_search_div_1 {
  height: 450px;
  color: aqua;
  background-image: url("../images/train_search_result.png");
  background-repeat: no-repeat;
  background-position: 460px 100px;
  background-color: #1f547a;
}
.train_search_div_2 {
  background-color: rgb(253, 250, 245);
}
.list-input {
  width: 100px;
  margin-left: 20px;
}

.list-input_train {
  width: 50px;
}
/* ****************************************************************************************************
___________________________________Flight Search Result Page____________________________________________
**************************************************************************************************** */
.flight_search_main_div {
  background-image: url("../images/flight_search_result.jpg");
  background-repeat: no-repeat;
  background-position: 0px -150px;
  padding-bottom: 150px;
}
.flight_search_div_1 {
  background-position: 0px 200px;
  color: white;
}
.flight_search_div_2 {
  transform: translate(0px, 80px);
}
.list-input_flight {
  width: 100px;
  margin-left: 20px;
}

.flight_search_div_2 {
  margin-bottom: 30px;
}
/* ****************************************************************************************************
___________________________________Hotel Search Result Page____________________________________________
**************************************************************************************************** */
.hotel_search_main_div{
  background-image: url("https://image.freepik.com/free-vector/hotel-building-isolated-city-street-vector-illustration-flat-cartoon_101884-680.jpg");
  background-repeat: no-repeat;
  background-position: 790px 60px;;
  padding-bottom: 150px;

}
.hotel_search_div_1{
  transform: translate(50px, -80px);
}
.hotel_search_div_2{
  transform: translate(0px, -80px);
}
.hotel_search_div_2 .card{
    margin-bottom: 30px;
}
.hotel_search_div_2 a{
  text-decoration:none;
  color:black;
}
.hotel_search_div_1 h1{
  color: #61085c;
}
.hotel_search_div_1 h3{
  color:#f57a00;
}
.hotel_search_div_1 h2{
  color:#0d71a3;
}
h3 .fas-star-icon{
  margin-top: 10px;
  margin-bottom: 10px;;
  color:yellow; 
  text-shadow: 0 0 3px #000;
  font-size: 30px;
}
.hotel-star-div{
  background-color: black; 
  opacity: 0.8;
  border-radius: 10px;;
}
.hotel-search-result-card{
  border-radius: 10px;
}
.hotel-search-result-card:hover {
  transform: scale(1.01);
}
/* ****************************************************************************************************
___________________________________Booking History Page____________________________________________
**************************************************************************************************** */
.booking-history-div{
  background-image: url("https://www.serverless360.com/wp-content/uploads/2019/07/cab-booking-event-grid-01.png");
  opacity: 0.2;
  height: 300px;;
}
.booking-history-overlap{
  transform: translate(0px, -200px);
}
.booking-history-card-body{
  color:white; 
  background-image:url("../images/card-image-dark.jpg");
}