<div class="container-fluid" id="bus-form">
    <div class="bus-form-container">
        <h4 class="online-bus-heading"><i class="fa fa-plane" aria-hidden="true"></i>Online Flight Ticket</h4>
        <div class="flight-search-form">
            <i class="fas fa-exchange-alt"></i>
            <form ng-submit="flightCtrl.searchFlight();" method="POST">
                <input list="source-cities" ng-model="flightCtrl.source" name="source-city" id="source-city"
                    placeholder="Source City">
                <datalist id="source-cities">
                    <option value="Mumbai-BOM"></option>
                    <option value="Pune-PNQ"></option>
                    <option value="Nanded-NDC"></option>
                    <option value="Nagpur-NAG"></option>
                    <option value="New Delhi-DEL"></option>
                    <option value="Ahmedabad-AMD"></option>
                    <option value="Surat-STV"></option>
                    <option value="Bhuj-BHJ"></option>
                    <option value="Varanasi-VNS"></option>
                    <option value="Lucknow-LKO"></option>
                    <option value="Agra-AGR"></option>
                    <option value="Gorakhpur-GOP"></option>
                    <option value="Kanpur-KNU"></option>
                    <option value="Hyderabad-HYD"></option>
                    <option value="Bhopal-BHO"></option>
                    <option value="Gwalior-GWL"></option>
                    <option value="Jaipur-JAI"></option>
                </datalist>
                <input list="destination-cities" ng-model="flightCtrl.destination" name="destination-city"
                    id="destination-city" placeholder="Destination City">
                <datalist id="destination-cities">
                    <option value="Mumbai-BOM"></option>
                    <option value="Pune-PNQ"></option>
                    <option value="Nanded-NDC"></option>
                    <option value="Nagpur-NAG"></option>
                    <option value="New Delhi-DEL"></option>
                    <option value="Ahmedabad-AMD"></option>
                    <option value="Surat-STV"></option>
                    <option value="Bhuj-BHJ"></option>
                    <option value="Varanasi-VNS"></option>
                    <option value="Lucknow-LKO"></option>
                    <option value="Agra-AGR"></option>
                    <option value="Gorakhpur-GOP"></option>
                    <option value="Kanpur-KNU"></option>
                    <option value="Hyderabad-HYD"></option>
                    <option value="Bhopal-BHO"></option>
                    <option value="Gwalior-GWL"></option>
                    <option value="Jaipur-JAI"></option>
                </datalist>

                <input type="date" id="date-of-travel" name="date-of-travel" placeholder="dd-mm-yyyy">

                <input list="Class" name="Class" id="destination-city" placeholder="Class">
                <datalist id="Class">
                    <option value="Economy"></option>
                    <option value="Prem.Economy"></option>
                    <option value="Business"></option>
                </datalist>

                <button type="submit" class="btn search-bus-button">
                    <i class="fas fa-search"></i>
                    Search Flight
                </button>
            </form>
        </div>
    </div>
</div>

<ui-view></ui-view>



<div class="container-fluid" id="grab-your-ticket-bus">
    <div class="grab-your-ticket-bus-heading">
        <h4>Why GrabYourTicket for flight Booking ?</h4>
    </div>
    <div class="grab-your-ticket-bus-cards">
        <div class="row">
            <div class="col-md-4">
                <div class="card first-card" style="width:400px; height: 350px !important;">
                    <img class="card-img-top" width="398" height="200" src="./images/plane.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Extensive Options</h4>
                        <p class="card-text">
                            Book from the selection of seats, including The company offers great discounts on domestic
                            and international flight tickets.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card second-card" style="width:400px; height: 350px !important;">
                    <img class="card-img-top" width="398" height="200" src="./images/cashback.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Discounts or Cashbacks</h4>
                        <p class="card-text">
                            We also assure cash backs and reward points to the customers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card third-card" style="width:400px; height: 350px !important;">
                    <img class="card-img-top" width="398" height="200" src="./images/card.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Payment Options</h4>
                        <p class="card-text">
                            Pay through cards, Net banking or mobile wallets for Flight reservation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="bus-qna">
    <div class="bus-faq-heading">
        <h4>FAQ</h4>
    </div>
    <div class="all-qna">
        <div class="accordion bus-accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none collapsed" type="button"
                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                            aria-controls="collapseOne">
                            <span>
                                Why should I book Flight tickets with GrabYourTicket.com?
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        GrabYourTicket is one of the best platforms to book Flight tickets that come up with latest
                        technological updates keeping its users in mind. Wide options for Flight are available with
                        great offers and discounts
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none collapsed" type="button"
                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            <span>
                                What are the payment methods for booking Flight tickets?
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        With GrabYourTicket Flight booking, you have the ease of choosing different methods for
                        payments.
                        Payment options like Debit/Credit Card, Net Banking, Wallets, PhonePe and EMI with various
                        banks are available for the convenience of the customers.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none collapsed" type="button"
                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            <span>
                                How to avail discount on Flight booking with GrabYourTicket
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        There are several offers and discounts are available on our website. On this link only, you
                        can find out the ongoing deals on Flight tickets .
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none collapsed" type="button"
                            data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                            aria-controls="collapseFour">
                            <span>
                                What to do if I lose my ticket?
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        The online booking facility allows you having a copy of your Flight ticket in your inbox. You
                        can obtain this again from your email I’d.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-decoration-none collapsed" type="button"
                            data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                            aria-controls="collapseFive">
                            <span>
                                How can I cancel my Flight ticket at GrabYourTicket
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        You can cancel your ticket by going to my account segment and then clicking on Flight option.
                        The amount of refund will be credited to the original payment method.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>